@{
    ViewData["Title"] = "Thank You";
}

<div class="d-flex flex-column justify-content-center">
    <h3>Thank you for your @ViewBag.TotalPrice Euro Purchase</h3>
    <p>We apreciate it!</p>
    <img src="https://media0.giphy.com/media/67ThRZlYBvibtdF9JH/200.gif?cid=ecf05e47gy760l3njgxgkurjq51eh26jmhgit3rykf4hfjsx&rid=200.gif&ct=g" alt="gif" style="width: 200px;"/>
</div>